@charset "UTF-8";
html {
  font-size: 10px;
}
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html img {
  vertical-align: top;
}
html li {
  list-style: none;
}
html a {
  text-decoration: none;
  color: inherit;
}
html .flex {
  display: flex;
}
html body {
  font-size: 2rem;
  font-family: Pretendard;
}
@font-face {
  font-family: NotoSerif;
  src: url(./font/NotoSerifKR-Medium.woff2);
}
@font-face {
  font-family: xeicon;
  src: url(./font/xeicon\ \(2\).woff2);
}
@font-face {
  font-family: Pretendard;
  src: url(./font/Pretendard-Medium\ \(1\).woff2);
}
@keyframes jump {
  0% {
    transform: translate(0, -8%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -8%);
  }
}

.header-wrap {
  width: 95%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

header {
  height: 90px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 10;
}
header.on h1 img.black {
  display: block;
}
header.on .gnb li .bar span.bar1,
header.on .gnb li .bar span.bar2,
header.on .gnb li .bar span.bar3 {
  background-color: black;
}
header h1 a {
  position: relative;
}
header h1 a .black {
  position: absolute;
  top: 0;
}
header h1 a img {
  display: none;
  height: 40px;
}
header h1 a img.on {
  display: block;
}
header.on {
  background-color: white;
  color: black;
}
header .flex-wrap {
  align-items: center;
}
header .flex-wrap nav {
  font-size: 2.5rem;
  text-align: center;
}
header .flex-wrap nav a {
  display: block;
}
header .flex-wrap nav > ul {
  justify-content: space-between;
  align-items: center;
}
header .flex-wrap nav .main-menu {
  position: relative;
  padding: 0 20px;
}
header .flex-wrap nav .main-menu:hover > a {
  color: rgb(219, 68, 68);
}
header .flex-wrap nav .sub-menu {
  position: absolute;
  top: 50px;
  background-color: rgb(219, 68, 68);
  width: 240px;
  border-radius: 15px;
  padding: 10px;
  font-size: 0.9vw;
  text-wrap: wrap;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  color: white;
}
header .flex-wrap nav .sub-menu .long .sub-menu {
  width: 300px;
}
header .flex-wrap nav .sub-menu li {
  padding: 5px 0;
}
header .gnb {
  gap: 15px;
  font-size: 1.6vw;
}
header .gnb a.bar {
  cursor: pointer;
  right: 0;
}
header .gnb .bar1,
header .gnb .bar2,
header .gnb .bar3 {
  display: block;
  width: 30px;
  height: 4px;
  background: white;
  margin: 7px 0;
}
header .gnb img {
  margin-top: 5px;
  height: 35px;
}

section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: NotoSerif;
}
section#sec1 .swiper {
  width: 100%;
  height: 100%;
}
section#sec1 .swiper div.arrow {
  position: absolute;
  z-index: 99;
  width: 120px;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-family: Pretendard;
}
section#sec1 .swiper div.arrow img {
  padding-top: 10px;
  animation: jump 1s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
}
section#sec1 .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
}
section#sec1 .swiper .swiper-slide img {
  display: block;
  width: 100%;
}
section#sec1 .swiper .swiper-slide .num1 {
  text-align: center;
  top: 45%;
  left: 38%;
}
section#sec1 .swiper .swiper-slide .num1 p {
  position: absolute;
  top: -50%;
  left: 35%;
}
section#sec1 .swiper .swiper-slide .num2 {
  top: 60%;
  left: 15%;
  text-align: left;
}
section#sec1 .swiper .swiper-slide .num3 {
  top: 40%;
  left: 15%;
  text-align: left;
}
section#sec1 .swiper .swiper-slide .num4 {
  top: 50%;
  left: 15%;
  text-align: left;
}
section#sec1 .swiper .swiper-slide .num5 {
  top: 55%;
  left: 30%;
  text-align: left;
}
section#sec1 .swiper .swiper-slide .num6 {
  top: 45%;
  left: 32%;
  text-align: left;
}
section#sec1 .swiper .swiper-slide .num7 {
  top: 50%;
  left: 35%;
  text-align: left;
}
section#sec1 .swiper .swiper-slide div {
  position: absolute;
  z-index: 20;
  color: white;
  letter-spacing: 1.2px;
}
section#sec1 .swiper .swiper-slide div b {
  font-size: 2.1vw;
}
section#sec1 .swiper .swiper-slide div .big-text {
  font-size: 3vw;
}
section#sec2 {
  background-image: url(./imgs/section01.jpg);
}
section#sec2 .text-sec2 {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
section#sec2 .text-sec2 h2 {
  font-size: 2.2vw;
  padding-bottom: 10px;
  padding-bottom: 10px;
}
section#sec2 .text-sec2 span {
  font-size: 0.9vw;
}
section#sec2 .text-sec2 .button {
  padding: 20px;
}
section#sec2 .text-sec2 .button a {
  font-family: Pretendard;
  display: inline-block;
  padding: 15px 40px;
  font-size: 0.9vw;
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  border-radius: 30px;
}
section#sec2 .text-sec2 .button a:after {
  content: "\e907";
  font-family: "xeicon";
  position: relative;
  display: inline-block;
  margin-left: 0.9rem;
  top: 0.1rem;
}
section#sec2 .box {
  font-family: Pretendard;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}
section#sec2 .box ul {
  position: relative;
}
section#sec2 .box ul li {
  position: relative;
  width: 338px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.431372549);
  margin: 2px;
}
section#sec2 .box ul li img {
  position: absolute;
  z-index: 20;
}
section#sec2 .box ul li p {
  position: absolute;
  z-index: 20;
  top: 65%;
}
section#sec2 .box ul li img {
  margin-bottom: 30px;
}
section#sec2 .box ul li.color1::after {
  content: "";
  background-color: #22ADB9;
  width: 100%;
  height: 3%;
  position: absolute;
  top: 0;
  left: 0;
}
section#sec2 .box ul li.color2::after {
  content: "";
  background-color: #1B5BBE;
  width: 100%;
  height: 3%;
  position: absolute;
  top: 0;
  left: 0;
}
section#sec2 .box ul li.color3::after {
  content: "";
  background-color: #D93F69;
  width: 100%;
  height: 3%;
  position: absolute;
  top: 0;
  left: 0;
}
section#sec2 .box ul li:hover::after {
  height: 100%;
  transition: 0.35s;
}
section#sec3 {
  background-image: url(./imgs/section02.jpg);
}
section#sec3 .sec3-left {
  color: white;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}
section#sec3 .sec3-left h2 {
  font-size: 3vw;
  padding-bottom: 20px;
}
section#sec3 .sec3-left span {
  font-size: 1.2vw;
  line-height: 35px;
}
section#sec3 .sec3-left ul {
  padding: 50px 0;
  width: 330px;
  overflow: hidden;
}
section#sec3 .sec3-left ul li {
  font-family: Pretendard;
  padding: 15px 0;
  font-size: 1.1vw;
  border-bottom: 1px solid #ffffff;
}
section#sec3 .sec3-left ul li a:after {
  content: "\e93e";
  position: absolute;
  left: 48%;
  font-family: "xeicon";
}
section#sec3 .sec3-left ul li a img {
  padding: 0 15px;
}
section#sec3 .sec3-left ul li:nth-child(2) {
  margin-left: -8px;
}
section#sec3 .swiper {
  width: 420px;
  height: 430px;
  top: 40%;
  left: 25%;
}
section#sec3 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#sec3 .swiper img {
  display: block;
  width: 428px;
  height: 278px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -10%;
  left: -10%;
}
section#sec4 {
  background-image: url(./imgs/section03.jpg);
}
section#sec4 .sec4-text {
  text-align: center;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
section#sec4 .sec4-text h2 {
  font-size: 2.7vw;
  padding: 50px;
}
section#sec4 .sec4-text span {
  font-size: 1.2vw;
}
section#sec4 ul {
  width: 1400px;
  height: 312px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "pretendard";
  text-align: center;
}
section#sec4 ul li {
  position: absolute;
  width: 466px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.315);
  margin: 0 1.5px;
  transition: 0.35s;
  bottom: 0;
}
section#sec4 ul li:nth-child(1) {
  left: 0;
}
section#sec4 ul li:nth-child(2) {
  left: 466px;
}
section#sec4 ul li:nth-child(3) {
  left: 932px;
}
section#sec4 ul li a {
  display: block;
  padding-top: 40px;
  font-size: 23px;
}
section#sec4 ul li .img-bdr img {
  display: none;
  padding: 15px;
}
section#sec4 ul li:hover {
  background-color: rgba(24, 166, 154, 0.8078431373);
  width: 466px;
  height: 312px;
}
section#sec4 ul li:hover .img-bdr img {
  display: inline;
}
section#sec4 ul li:hover a::after {
  content: "\e9c5";
  font-family: "xeicon";
  display: block;
  line-height: 1;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
}
section#sec5 {
  font-family: "pretendard";
  background-image: url(./imgs/section04.jpg);
  background-position: right center;
  text-align: center;
}
section#sec5 .sec5-wrap {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}
section#sec5 .sec5-wrap h2 {
  font-family: "NotoSerif";
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
}
section#sec5 .sec5-wrap .sec5-list {
  width: 80%;
}
section#sec5 .sec5-wrap .sec5-list li {
  font-weight: bold;
  font-weight: 20px;
  width: 350px;
  height: 100px;
}
section#sec5 .sec5-wrap .sec5-list li a {
  width: 350px;
  height: 65px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.349);
  color: white;
  padding-top: 20px;
}
section#sec5 .sec5-wrap .sec5-list li a:hover {
  border: 1px solid #C71c30;
}
section#sec5 .sec5-wrap .sec5-list li a.on {
  background-color: #C71c30;
  color: white;
}
section#sec5 .sec5-wrap .tab {
  width: 1400px;
  display: none;
}
section#sec5 .sec5-wrap .tab ul {
  font-size: 15px;
  justify-content: space-between;
}
section#sec5 .sec5-wrap .tab ul li {
  overflow: hidden;
}
section#sec5 .sec5-wrap .tab ul li:hover img {
  transform: scale(1.1);
  transition: 0.35s;
}
section#sec5 .sec5-wrap .tab.on {
  display: block;
}
section#sec5 .sec5-wrap .tab .btu {
  margin-top: 20px;
}
section#sec5 .sec5-wrap .tab .btu a {
  display: inline-block;
  padding: 20px 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  border: 1px solid transparent;
  transition: all 0.3s;
  border-radius: 3.5rem;
  border: 2px solid #ffffff;
  color: white;
}
section#sec5 .sec5-wrap .tab .btu a::after {
  content: "\e914";
  font-family: "xeicon";
  position: relative;
  display: inline-block;
  margin-left: 0.9rem;
  top: 0.1rem;
  transition: all 0.5s;
}
section#sec5 .sec5-wrap .tab .btu a:hover {
  background-color: rgba(0, 0, 0, 0.397);
  border-color: red;
}
section#sec5 .sec5-wrap .tab .btu a:hover::after {
  transform: rotate(180deg);
}
section#sec5 .sec5-wrap .tab2 li,
section#sec5 .sec5-wrap .tab3 li,
section#sec5 .sec5-wrap .tab4 li {
  position: relative;
}
section#sec5 .sec5-wrap .tab2 li:hover img,
section#sec5 .sec5-wrap .tab3 li:hover img,
section#sec5 .sec5-wrap .tab4 li:hover img {
  transform: scale(1.1);
  transition: 0.35s;
}
section#sec5 .sec5-wrap .tab2 li:hover div,
section#sec5 .sec5-wrap .tab3 li:hover div,
section#sec5 .sec5-wrap .tab4 li:hover div {
  opacity: 1;
}
section#sec5 .sec5-wrap .tab2 li div,
section#sec5 .sec5-wrap .tab3 li div,
section#sec5 .sec5-wrap .tab4 li div {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.35s;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 4%, rgba(255, 255, 255, 0) 100%);
}
section#sec5 .sec5-wrap .tab2 li div span,
section#sec5 .sec5-wrap .tab3 li div span,
section#sec5 .sec5-wrap .tab4 li div span {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
  font-size: 19px;
}
section#sec5 .sec5-wrap .tab1 li {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 320px;
  background-color: white;
}
section#sec5 .sec5-wrap .tab1 li .set-list {
  padding: 20px;
  text-align: left;
}
section#sec5 .sec5-wrap .tab1 li .set-list ul {
  padding-bottom: 10px;
  color: rgb(122, 122, 122);
  display: flex;
  /* 추가 */
  justify-content: space-between;
}
section#sec5 .sec5-wrap .tab1 li .set-list ul li {
  display: flex;
  width: 300px;
  justify-content: space-between;
  border-radius: 0;
  display: flex;
}
section#sec5 .sec5-wrap .tab1 li .set-list ul li a {
  display: flex;
  align-items: center;
}
section#sec5 .sec5-wrap .tab1 li .set-list ul li a.people::before {
  content: "\e9f5";
  left: 0;
  top: 0.3rem;
  font-size: 2rem;
  font-family: "xeicon";
  line-height: 1;
}
section#sec5 .sec5-wrap .tab1 li .set-list ul li a.date::before {
  content: "\e9a2";
  left: 0;
  top: 0.3rem;
  font-size: 2rem;
  font-family: "xeicon";
  line-height: 1;
}
section#sec5 .sec5-wrap .tab1 li .set-list p {
  font-size: 18px;
  width: 290px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
section#sec5 .sec5-wrap .tab1 li img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 320px;
  height: 220px;
}
section#sec5 .sec5-wrap .tab2 ul {
  flex-wrap: wrap;
}
section#sec5 .sec5-wrap .tab2 ul li {
  margin: 0 10px 30px 0;
}
section#sec5 .sec5-wrap .tab2 ul li:hover img {
  transform: scale(1.1);
  transition: 0.35s;
}
section#sec5 .sec5-wrap .tab2 ul li:hover div {
  opacity: 1;
}
section#sec5 .sec5-wrap .tab2 ul li img {
  width: 320px;
  height: 220px;
  border-radius: 0;
}
section#sec5 .sec5-wrap .tab3 ul {
  width: 1400px;
  flex-wrap: wrap;
}
section#sec5 .sec5-wrap .tab3 ul li {
  margin: 0 10px 20px 0;
}
section#sec5 .sec5-wrap .tab3 ul li img {
  width: 445px;
  height: 233px;
  -o-object-fit: cover;
     object-fit: cover;
}
section#sec5 .sec5-wrap .tab4 ul {
  width: 1400px;
  flex-wrap: wrap;
}
section#sec5 .sec5-wrap .tab4 ul li {
  margin: 0 10px 30px 0;
}
section#sec5 .sec5-wrap .tab4 ul li img {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #2A2D34;
  height: 150px;
  display: flex;
  align-items: center;
}
footer .footer-wrap {
  color: #929292;
  text-align: right;
  font-size: 17px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrap ul {
  display: flex;
  margin: 15px 0;
}
footer .footer-wrap ul li {
  font-size: 14px;
  margin-left: 20px;
}

@media screen and (max-width: 640px) {
  header {
    height: 60px;
  }
}
@media screen and (min-width: 641px) {
  height {
    height: 90px;
  }
}/*# sourceMappingURL=style.css.map */