* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

.flex {
    display: flex;
}

header {
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    padding: 10px;
    align-items: center;

    h1 {
        img {
            width: 120px;
            margin-top: 8px;
        }
    }

    .bar {
        cursor: pointer;
        position: relative;
        margin-top: 8px;
        width: 50px;
        z-index: 40;
    }

    .bar p {
        margin: 5px;
        background-color: white;
        transition: 0.35s;
    }

    .bar1 {
        width: 15px;
        height: 2px;
    }

    .bar2 {
        width: 25px;
        height: 2.5px;
    }

    .bar3 {
        width: 15px;
        height: 3px;
    }

    .bar:hover .bar1 {
        width: 25px;
    }

    .bar:hover .bar2 {
        width: 15px;
    }

    .bar:hover .bar3 {
        width: 25px;
    }
}

footer {
    color: #a1a1a1;
    font-size: 15px;
    background-color: black;
    padding: 40px;
    line-height: 25px;

    b {
        color: white;
        font-weight: 500;
    }

    span {
        display: block;
        margin: 20px 0 40px;
        font-size: 13px;
    }

    h1 img {
        width: 200px;
    }

    .f-text {
        display: none;
    }

    .f-text2 {
        ul {
            margin: 10px 0;

            &.display {
                display: flex;
            }

            b {
                font-size: 20px;
            }

            li {
                margin: 0 10px 0 0;

                a.border {
                    border-bottom: 1px solid #a1a1a1;
                }
            }
        }
    }

    select {
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        border-bottom: 1px solid #ffffff;
        padding: 0 60px 5px 0;
        font-size: 16px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 980px) {

    section {
        width: 100%;

        &#sec1 {
            img {
                width: 100%;
            }
        }

        &#sec2 {
            .img {
                background-image: url(./imgs/new_banner03.png);
                width: 100%;
                height: 50vw;
                background-repeat: no-repeat;
                background-size: 200%;
                background-position: center;
            }
        }

        &#sec3 {
            h2 {
                text-align: center;
                padding: 30px 0;
                font-weight: 500;

            }

            background-color: #D6CDC8;

            .big {
                img {
                    width: 100%;
                }
            }

            .img-2wrap {
                p {
                    position: relative;
                    line-height: 25px;
                    width: 100%;
                    font-size: 13px;

                    a {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 95%;
                        transform: translate(-50%, -50%);
                    }

                    b {
                        display: block;
                        font-size: 25px;
                    }
                }

                img {
                    width: 40vw;
                }
            }

            .img-2wrap-2 {
                img {
                    width: 56.5vw;
                }
            }

            img.img-text {
                margin-top: 150px;
                transform: rotate(90deg);
                width: 40vw;
                height: 80px;
            }
        }

        &#sec4,
        &#sec5 {
            .img-box1 {
                position: sticky;
                top: 0;
                z-index: -1;
                background-image: url(./imgs/body2.jpg);
                width: 100vw;
                height: 100vw;
                background-size: 100%;
                background-repeat: no-repeat;
                // background-attachment: fixed;
            }

            .img-box11 {
                position: sticky;
                top: 0;
                z-index: -1;
                background-image: url(./imgs/mainimg.jpg);
                width: 100vw;
                height: 100vw;
                background-size: 100%;
                background-repeat: no-repeat;
                // background-attachment: fixed;
            }

            .img-box2 {
                background-image: url(./imgs/main_04.jpg);
                width: 100vw;
                height: 100vw;
                background-size: cover;
                background-size: 220%;

                img {
                    width: 100%;
                }

            }

            .img-box22 {
                background-image: url(./imgs/mainimg2.jpg);
                width: 100%;
                height: 100vw;
                background-size: cover;
                background-size: 100%;

                img {
                    width: 100%;
                }

            }

            ul {
                background-color: white;

                li {
                    display: flex;
                    padding: 30px 0px;

                    img {
                        border-radius: 20px;
                        margin: 10px;
                    }

                    .text-wrap {
                        margin: 70px 20px;

                        p {
                            margin: 10px 0;

                            b {
                                font-size: 15px;
                                font-weight: bold;

                            }
                        }


                        span {
                            font-size: 11px;
                            color: rgb(105, 105, 105);
                        }
                    }



                    &.right {
                        text-align: right;
                        flex-direction: row-reverse;
                    }
                }

            }


            img {
                width: 50%;
            }
        }

        &#sec6 {
            h2 {
                text-align: center;
                margin: 30px 0;
            }

            .swiper {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 200px;
                height: 200px;
                margin: 0 0 30px;
                object-fit: cover;
            }
        }
    }
}

@media screen and (min-width: 981px) {
    header {
        position: fixed;
        width: 100%;
    }

    section {

        &#sec1 {
            width: 100%;
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &#sec2 {
            width: 100%;
            height: 100vh;

            .img {
                background-image: url(./imgs/main-bg.jpg);
                width: 100%;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

        &#sec3 {height: 100vh;
            background-color: rgb(238, 231, 231);

            h2 {
                font-size: 30px;
                text-align: center;
                padding: 100px 0 40px;
            }

            .img-wrap {
                width: 58vw;
                margin: auto;
                display: flex;

                img {
                    width: 20vw;
                }

                .img-2wrap {
                    flex-direction: column;

                    img {
                        width: 17.8vw;
                        height: 14.6vw;
                    }

                    p {
                        background-color: white;
                        height: 18vw;
                        position: relative;

                        a {
                            position: absolute;

                            b {
                                font-size: 28px;
                                margin: 0 0 10px;
                                display: block;
                            }

                            display: block;
                            width: 100%;
                            line-height: 30px;
                            left: 60%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-size: .8vw;
                        }
                    }
                }

                .img-2wrap-2 {
                    flex-direction: column;

                    .img-text {
                        background-color: black;
                        width: 20vw;
                        height: 7.4vw;
                        padding: 25px;
                    }

                }
            }
        }

        &#sec4,
        &#sec5 {
            .wrap {
                display: flex;

                .img-box1 {
                    position: sticky;
                    top: 0;
                    z-index: -1;
                    background-image: url(./imgs/main-small.jpg);
                    width: 50vw;
                    height: 48vw;

                    background-size: 100%;
                    background-repeat: no-repeat;
                    // background-attachment: fixed;
                }

                .img-box11 {
                    position: sticky;
                    top: 0;
                    z-index: -1;
                    background-image: url(./imgs/main-small-4.jpg);
                    width: 50vw;
                    height: 48vw;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    // background-attachment: fixed;
                }

                .img-box2 {
                    background-image: url(./imgs/main-small-1.jpg);
                    width: 50vw;
                    height: 48vw;
                    background-size: cover;
                    background-size: 100%;

                    img {
                        width: 100%;
                    }

                }

                .img-box22 {
                    background-image: url(./imgs/main-small-3.jpg);
                    width: 50vw;
                    height: 48vw;
                    background-size: cover;
                    background-size:100%;

                    img {
                        width: 100%;
                    }

                }

                ul {
                    width: 50vw;
                    background-color: white;

                    li {
                        width: 90%;
                        margin: auto;
                        display: flex;
                        padding: 30px 80px;

                        img {
                            border-radius: 20px;
                            margin: 10px;
                            width: 35%;
                            height: 35%;
                        }

                        .text-wrap {
                            margin: 70px 20px;

                            p {
                                margin: 10px 0;

                                b {
                                    font-size: 15px;
                                    font-weight: bold;

                                }
                            }

                            span {
                                font-size: 11px;
                                color: rgb(105, 105, 105);
                            }
                        }

                        &.right {
                            text-align: right;
                            flex-direction: row-reverse;
                        }
                    }
                }

                img {
                    width: 50%;
                }
            }
        }

        &#sec5 .ch-img {
            flex-direction: row-reverse;

            .scroll {
                width: 48.9vw;

                ul {
                    width: 100%;
                }
            }

            .img-box1 {
                width: 49.1vw;
            }

            .img-box22 {
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                width: 48.9vw;
            }
        }

        &#sec6 {
            margin: 30px;
            h2 {
                text-align: center;
                margin: 50px 0;
            }

            .swiper {
                width: 80%;
                height: 100%;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 80%;
                border-radius: 30px;
                margin: 0 0 30px;
                object-fit: cover;
            }
        }
    }

    footer {
        span {
            display: block;
            margin: 20px 0 40px;
            font-size: 13px;
        }

        .f-wrap-text {
            display: flex;
            justify-content: space-between;
        }

        .f-text {
            display: block;
        }

        .f-text2 {
            display: flex;

            >ul {
                display: flex;
                margin: 10px 0;

                &.display {
                    display: flex;
                }

                b {
                    font-size: 20px;
                }

                li {
                    margin: 0 10px 0 0;

                    a.border {
                        border-bottom: 1px solid #a1a1a1;
                    }
                }
            }
        }
    }
    select {
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        border-bottom: 1px solid #ffffff;
        font-size: 16px;
    }
}