@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  max-width: 1130px;
  height: 730px;
  margin: auto;
  border: 1px solid #b3b3b3;
  font-family: "Pretendard-Regular";
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
/* ----------------------메인---------------------------- */
/* header */
header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(232, 232, 232);
  align-items: center;
  justify-content: space-between;
}
h1 {
  width: 130px;
  padding-top: 10px;
  padding-left: 10px;
}
h1 img {
  width: 100%;
}
.login i {
  height: 100%;
  margin-right: 10px;
}
.search-box {
  width: 250px;
  background-color: rgb(232, 232, 232);
  border-radius: 30px;
  height: 30px;
}
.search {
  border: none;
  background-color: rgb(232, 232, 232);
  margin-left: 10px;
  padding: 7px 0 0;
  outline: none;
}
.search-box .fa-magnifying-glass {
  padding: 15px 0 0 10px;
}
/* slide */
.slide-content {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.slide-wrap {
  width: 300%;
}
.slide {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.slide img {
  width: 100%;
  height: 280px;
  border-radius: 10px;
}
/* dot */
.dot {
  display: inline-block;
  margin: 10px 0 0 15px;
  position: relative;
}
.dot span {
  padding: 0 5px;
}
/* dot-box */
.dot-box {
  position: absolute;
  background: #ffffff;
  z-index: 10;
  top: 27px;
  left: 17px;
  padding: 10px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  width: 170px;
  display: none;
}
.dot-box ul li {
  padding: 7px 0;
  border-bottom: 1px solid #dadada;
}
.dot-box ul li:nth-child(8) {
  border: none;
}
.dot-box ul li:hover {
  color: #ee3a67;
}
/* icons */
.icons ul {
  justify-content: space-around;
  padding: 20px;
  border-bottom: 10px solid rgb(232, 232, 232);
}
.icons ul li a {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons ul li a img {
  height: 50px;
  margin-bottom: 5px;
}

/* -------------------login ------------------*/
.login-wrap {
  display: flex;
  justify-content: center;
}
.login-page {
  margin-top: 100px;
  width: 400px;
  height: 600px;
}
.login-page h1 {
  width: 220px;
  margin: auto;
}
.login-page h1 img {
  width: 100%;
}
/* sns */
.login-wrap {
  text-align: center;
}
.sns-login {
  margin-top: 30px;
  position: relative;
}
.sns-login::after {
  content: "";
  width: 400px;
  height: 1px;
  background-color: rgb(219, 219, 219);
  position: absolute;
  left: 0;
  bottom: -40px;
}
.sns-login div {
  margin-top: 15px;
}
.sns-login div a {
  width: 400px;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.sns-login div img {
  width: 50px;
}
.sns-login div span {
  padding: 0 10px;
}
.kakao a {
  background-color: #fddc3f;
  color: rgb(0, 0, 0);
}
.naver a {
  color: white;
  background-color: #00c73c;
}
.mail-login a {
  color: rgb(105, 105, 105);
  background-color: #e7e7e7;
}

.login-page p {
  margin: 10px;
  color: #595959;
}
.login-page p.login-text b {
  padding: 0 7px;
}
.login-footer {
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
/* ------------------------------------------ */
.partner-login a {
  display: inline-block;
  color: #979797;
  margin: 0;
}
.partner-login:nth-child(1) a::after {
  content: "|";
  margin-left: 20px;
}
.partner-login2 a {
  border: 1px solid #939393;
  display: inline-block;
  padding: 5px 40px;
  border-radius: 30px;
  color: #595959;
  width: 250px;
}
.partner-login2 a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
/* partner-login-page */
.partner-login-page h1 img {
  filter: brightness(100);
}
.box {
  padding: 25px 0 0 10px;
  position: absolute;
  width: 100%;
  height: 700px;
  z-index: -1;
}
.partner-login-page h2 {
  line-height: 40px;
  font-size: 25px;
  padding: 10px;
  color: white;
  font-weight: 300;
}
.form {
  width: calc(100% - 270px);
  height: 700px;
  margin-left: 300px;
  text-align: left;
  padding-top: 35px;
}
.form h3 {
  font-size: 22px;
}
form > div {
  margin: 20px 0;
  font-size: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
div a {
  font-size: 15px;
  color: rgb(148, 148, 148);
  margin-top: -5px;
  margin-bottom: 3px;
  display: block;
}
.sub-text {
  display: block;
  font-size: 15px;
  color: rgb(148, 148, 148);
  margin-top: -5px;
  margin-bottom: 5px;
}
section input[type="text"],
input[type="password"],
input[type="email"],
input[type="address"],
input[type="businessNumber"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
section input[type="text"] {
  margin: 3px 0;
}
button[type="submit"] {
  margin-top: 20px;
  background-color: #afafaf;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
}

button[type="submit"]:hover {
  background-color: #4d4d4d;
}
/* img-list */
.img-box {
  width: 110px;
  height: 100px;
  border: 1px solid #e0e0e0;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 20px 22px -10px 0;
  position: relative;
}
.img-box::after {
  content: "+ 등록";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #bababa;
}
/* ------------------partner-login -------------------*/
.color-box {
  width: 260px;
  height: 730px;
  background-color: #f74242;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.login-wrap2 {
  width: calc(100% - 270px);
  margin-left: 270px;
  margin-top: 30px;
  text-align: left;
}
.login-wrap2 input[type="email"],
.login-wrap2 input[type="password"],
.login-wrap2 button {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-page2 h1,
.login-page2 p {
  margin: 0;
  padding: 10px 0;
}
.login-page2 div {
  margin-top: 10px;
}
.checkbox {
  margin-top: 10px;
  margin-bottom: -10px;
}
.checkbox label {
  order: 2;
  margin-top: 3.5px;
  margin-left: 3px;
}
/* ---------------store-page--------- */
.color-box2 {
  background-color: rgb(235, 235, 235);
  padding: 10px 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  height: 728px;
  box-shadow: 0px 1px 3px;
}
.store-page figure {
  width: 230px;
}
.store-page figure img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
.store-page ul li {
  margin: 10px 0;
}
.store-name {
  font-weight: bold;
  font-size: 18px;
}
.store-map {
  color: rgb(117, 117, 117);
}
.store-map p {
  display: none;
}
.store-map p img {
  margin-top: 10px;
  width: 230px;
  height: 200px;
  border-radius: 10px;
}
.level {
  margin: 15px 0;
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  border-right: 30px;
}
.level li {
  display: flex;
  align-items: center;
  color: rgb(87, 87, 87);
}
.level li span {
  display: inline-block;
  width: 65px;
}
.level li img {
  margin-right: 5px;
}
/* detail */
.detail {
  padding: 20px 50px;
}
.part {
  margin-bottom: 15px;
}
.detail h2 {
  padding-bottom: 10px;
}
.detail > a {
  position: absolute;
  right: 20px;
  top: 30px;
}
.detail ul li {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.detail ul li span {
  cursor: pointer;
  color: rgb(44, 58, 255);
  margin-left: 7px;
}
.detail ul li:nth-child(1) i {
  margin-right: 10px;
  font-size: 25px;
}
.detail ul li:nth-child(2) i,
.detail ul li:nth-child(3) i,
.detail ul li:nth-child(4) i {
  margin-right: 10px;
  font-size: 20px;
}
/* -------------tab-------------- */
.tab-menu{
  margin: -5px 0 5px 5px;
}
.tab-menu li a {
  display: inline-block;
  margin-right: 15px;
}
.tab-menu li a.on {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.tab {
  margin-top: -50px;
  display: none;
}
.tab.on {
  display: block;
}
.tab ul {
  flex: 1;
  margin-top: -20px;
}
.tab ul li {
  flex-direction: column;
  border: 1px solid #c7c7c7;
  width: 250px;
  height: 330px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.tab ul li img {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
.nickname {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
.part p a {
  display: block;
  width: 100px;
  border-radius: 30px;
  padding: 5px 10px;
  text-align: center;
  background-color: rgb(153, 153, 153);
  color: white;
  margin-top: -10px;
  position: absolute;
  right: 50px;
}
.part p a:hover{
  background-color: rgb(44, 100, 255);
}
/* -----review--------- */
.review-box {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.426);
}
.reservation-box{
  /* display: none; */
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.426);
}
.review-page ,.reservation-page{
  width: 700px;
  height: 550px;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}
.review-check div {
  margin: 20px 50px 20px 0;
}
.review-check div >p{
  margin-bottom: 8px;
}
.review-check div label {
  font-weight: bold;
  margin-bottom: 10px;
}
.review-check div span {
  margin: 0 25px 0 5px;
}

.close {
  position: absolute;
  right: 20px;
  top: 30px;
}
.add-list {
  margin: 10px 0;
  padding: 10px 0 15px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.add-img li a {
  display: inline-block;
  border: 1px solid #d7d7d7;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 10px 20px 0 0;
  background-color: #f0f0f0;
  position: relative;
}
.add-img li a::after {
  content: "+추가";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text-review{
  margin-top: 5px;
}
.text-review textarea {
  width: 600px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 5px;
}
button.review-submit{
  width: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
button.review-submit:hover{
  background-color: rgb(44, 100, 255);
}
button.link{
  margin-top: 20px;
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: rgb(44, 100, 255);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}
button.link:hover{
  background-color: rgb(0, 0, 0);
}