@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    vertical-align: top;
}

/* wrap */
.wrap {
    background-image: url(./imgs/bg-01.png);
    background-color: #e60012;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.flex {
    display: flex;
}

/* header */
header {
    justify-content: space-between;
}

header h1 img {
    width: 200px;
    margin: 20px 0;
    margin: 25px;
}

.mairo-text {
    position: absolute;
    right: 10%;
    top: 10px;
    z-index: 10;
}

/* box */
.sect1 {
    position: absolute;
    left: 38%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 980px;
    height: 550px;
    z-index: 10;
}

.content1 {
    width: 100%;
    height: 100%;
}

.content1 span {
    position: absolute;
    background: #ffffff;
}

.top {
    left: 0;
    height: 5px;
    width: 0%;
}

.right {
    height: 0%;
    width: 5px;
    right: 0;
}

.bottom {
    height: 5px;
    width: 0%;
    bottom: 0;
    right: 0;
}

.left {
    bottom: 0;
    height: 0%;
    width: 5px;
}

.but ul li a,
.mairo-text {
    display: block;
    background-color: #e60012;
    border: 3px solid white;
    border-radius: 30px;
    padding: 5px;
    width: 200px;
    font-family: yg-jalnan;
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    box-shadow: 8px 5px 1px 3px black;
}

.but ul li a:active,
.mairo-text:active {
    box-shadow: none;
    margin-top: 23px;
}

.but {
    position: absolute;
    left: 25%;
    top: 80%;
    z-index: 50;
}

/* video */
video {
    width: 100%;
    height: 101%;
    border: 5px solid #ffffff;
}

/* main-img */
.gost:hover{cursor: pointer;
    animation: dance .35s ease-out infinite;
}
.gost{left: 4%;
    width: 200px;
    animation: jump 1s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;}
.main-img {
    position: absolute;
    bottom: -20px;
    right: 25px;
    width: 480px;
    z-index: 50;
    animation: dance 3s ease-out infinite;
    transition: .35s;
}

.mario {
    position: absolute;
    width: 120px;
    left: 3%;
    top: 52%;
    animation: jump 0.8s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
}

.coin {
    position: absolute;
    top: 40%;
    left: 6%;
    width: 50px;
    animation: rotate-axis 0.8s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
}

@keyframes dance {
    0% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@keyframes jump {
    0% {
        transform: translate(0, -8%);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -8%);
    }
}

@keyframes rotate-axis {
    from {
        transform: perspective(800px) rotateY(0deg);
    }

    to {
        transform: perspective(800px) rotateY(360deg);
    }
}

/* sldie */
.mySwiper1.swiper {
    width: 310px;
    height: 650px;
    position: absolute;
    right: 8%;
    top: 11%;
    overflow: hidden;
}

.mySwiper1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper1 .swiper-slide img {
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 2px;
}

.big-wrap {
    display: none;
    transition: .5s;
}

.big-wrap.on {
    display: block;
}

/* sect2 */
.up{transform: translateY(300px);
transition: 1s;}
.after{display: none;}
.after.on{display: block;}
.sect2 {
    display: none;
    transition: .5s;
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 550px;
    z-index: 10;
}
.coin-set-1 img{width: 48px;
top: -15%}
.sect2.on {
    display: block;
}

.chara {
    width: 150px;
    position: absolute;
    bottom: 5px;
    left: 10%;
}

.hana {
    width: 400px;
    position: absolute;
    bottom: -107%;
    left: -40%;
    animation: jump 3s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
}

.mairo-2 {
    left: 13%;
}

.text-1 {
    width: 300px;
    position: absolute;
    top: 10%;
    left: -35%;
}
.text-1:hover{
    animation: dance .3s ease-out infinite;}
.but-1 {
    position: absolute;
    left: 0;
    top: 100%;
}

.bg-sora {
    width: 99%;
    height: 98%;
    top: 5px;
    left: 5px;
    position: absolute;
}

.mySwiper2.swiper {
    width: 360px;
    height: 430px;
    position: absolute;
    right: 8%;
    top: 11%;
    overflow: hidden;
}

.mySwiper2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper2 .swiper-slide img {
    display: block;
    width: 350px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: none;
    border: 3px dashed #ffffff;
}

.big-text {
    width: 40%;
    top: 15%;
    left: 8%;
    position: absolute;
}

.text-2 {
    width: 35%;
    top: 55%;
    right: -40%;
    position: absolute;
}
.text-2:hover{transform: scale(1.2);
    cursor: pointer;
transition: .35s;}

/* s3 */
.sect3 {
    display: none;
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: 5px solid #ffffff;
}

.sect3.on {
    display: block;
}

.mySwiper3 .swiper {
    width: 100%;
    height: 100%
}

.mySwiper3 .swiper-slide {
    position: relative;
}

.mySwiper3 .swiper-slide img {
    display: block;
    height: 49vh;
}

.mySwiper3 .swiper-scrollbar-drag {
    background: #e60012;
}

.mySwiper3 .swiper-slide:nth-child(1) {
    background-image: url(./imgs/빨강.gif);
}

.mySwiper3 .swiper-slide:nth-child(2) {
    background-image: url(./imgs/초록.gif);
}

.mySwiper3 .swiper-slide:nth-child(3) {
    background-image: url(./imgs/핑크.gif);
}

.mySwiper3 .swiper-slide:nth-child(4) {
    background-image: url(./imgs/파랑.gif);
}

.mySwiper3 .swiper-slide:nth-child(5) {
    background-image: url(./imgs/녹색.gif);
}

.mySwiper3 .swiper-slide:nth-child(6) {
    background-image: url(./imgs/오렌지.gif);
}

.mySwiper3 .swiper-slide:nth-child(7) {
    background-image: url(./imgs/보라.gif);
}

.text-img-set {
    position: absolute;
    bottom: -30%;
    right: 3%;
    width: 250px;
}

.mySwiper3 .swiper-wrapper div:hover img{
    animation: dance .35s ease-out infinite;
    cursor: pointer;
}

.imgs img {
    position: absolute;
    z-index: 10;
}

.small {
    width: 350px;
    bottom: -55%;
    right: 20%;
}

.potal-1 {
    width: 200px;
    bottom: -60%;
}

.potal-2 {
    width: 200px;
    bottom: -20%;
    left: 2%;
    animation: jump 1s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
}
.mairo-2:hover{cursor: pointer;
    animation: rotate-axis 1s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;}
.coin-1,
.coin-2,
.coin-3 {
    top: -25%;
    animation: rotate-axis 1s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
    width: 80px;
}

.coin-1 {
    right: 5%;  
}

.coin-2 {
    right: 10%;
}

.coin-3 {
    right: 15%;
}

.btu {
    top: 130%;
    left: 10%;
}

.imgs h3 {
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    color: white;
    font-size: 55px;
    font-family: yg-jalnan;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px#000;
}
.coin-set-1>img:hover{top: -18%;
transition: .35s;}