* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JalnanGothic;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

.flex {
    display: flex;
}

.wrap {
    text-align: center;
}

body {
    background-image: url(./img/bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

header h1 img {
    width: 350px;
    padding: 40px;
}

.text span {
    font-size: 35px;
}

.pink {
    font-weight: 300;
    color: rgb(228, 90, 136);
}

.blue {
    font-weight: 300;
    color: rgb(0, 55, 158)
}

h2 img {
    padding-top: 20px;
}

.text p {
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding-top: 25px;
    margin: 10px;
}

.big {
    height: 400px;
    width: 90%;
}

.big-img img {
    width: 70%;
}

.col-set>div {
    align-items: center;
}


.mini-box img {
    width: 45%;
}

.content a {
    display: inline-block;
    font-size: 20px;
    background-color: gold;
    padding: 15px 20px;
    border-radius: 30px;
}
.content a:hover{background-color: rgb(0, 76, 216);
color: white;}
.content p {
    padding: 20px;
    width: 300px;
}

footer {
    justify-content: space-between;
    padding: 40px;
}

footer h1 {
    text-align: left;
    padding: 20px;
}

footer h1 a img {
    width: 150px;
}

.f-text {
    text-align: left;
    padding-left: 20px;
}

.sns {
    padding: 15px;
}

.sns ul li {
    padding: 5px;
}

.sns ul li a img {
    height: 50px;
}

figure:hover img {
    transform: scale(1.2);
    transition: .5s;
}

@media screen and (max-width:576px) {
    .col-set .content {
        width: 45%;
    }

    h2 img {
        width: 80%;
    }

    .contents-wrap {
        display: flex;
        flex-direction: column;
    }

    .big {
        width: 95%;
    }

    .col-set .content a {
        font-size: 15px;
    }
}

@media screen and (min-width:577px) {
    h2 img {
        width: 60%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: end;
    }

    .contents-wrap {
        display: flex;
    }

    .col-set {
        flex-direction: column;
    }

    .col-set .content {
        padding-bottom: 10px;
        width: 95%;
    }
}

@media screen and (min-width:991px) {
    h2 img {
        width: 40%;
    }

    .contents {
        display: flex;
    }

    .col-set .content {
        height: 190px;
        width: 95%;
    }

    .contents {
        display: flex;
        justify-content: center;
    }

    .col-set .content {
        display: flex;
        flex-direction: row;
    }
}