@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}
:root {
  --main-color: #0053cf;
  --sub-color: #ffc700;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Pretendard-Regular";
}
html *,
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html li,
body li {
  list-style: none;
}
html a,
body a {
  text-decoration: none;
  color: inherit;
}
html .flex,
body .flex {
  display: flex;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}
section ul li div.publishing-list-text {
  position: relative;
  font-family: "Jalnan";
  width: 40%;
  padding: 150px 0 3vw 10vw;
}
section ul li div.publishing-list-text::after {
  content: "";
  background-image: url(./img/right-arrow.png);
  position: absolute;
  width: 100px;
  height: 50px;
  bottom: -20px;
  left: 300px;
  background-repeat: no-repeat;
}
section ul li div.publishing-list-text::before {
  content: "";
  background-image: url(./img/left-arrow.png);
  position: absolute;
  width: 100px;
  height: 50px;
  bottom: 0;
  left: 150px;
  bottom: -20px;
  background-repeat: no-repeat;
}
section ul li div.publishing-list-text p.sub-title {
  font-size: 18px;
  margin: 20px 0;
  position: relative;
  color: white;
}
section ul li div.publishing-list-text p.sub-title::after {
  content: "";
  background-image: url(./img/sub-tltle.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 150px;
  height: 50px;
  position: absolute;
  left: -15px;
  top: -16px;
  z-index: -1;
}
section ul li div.publishing-list-text h2 {
  color: var(--main-color);
  font-size: 3vw;
  margin: 40px 0 20px;
}
section ul li div.publishing-list-text span {
  color: #5b7eb2;
  font-size: 1.7vw;
}
section ul li div.publishing-list-text p.mini-text {
  font-family: "Pretendard-Regular";
  font-weight: bold;
  margin-top: 15px;
  line-height: 2vw;
  font-size: 1.4vw;
}
section ul li div.thumbnail-img {
  margin: 140px 0 0 20px;
  position: relative;
}
section ul li div.thumbnail-img::after {
  content: "";
  background-image: url(./img/lego-person.png);
  position: absolute;
  left: -100px;
  bottom: -30px;
  width: 100px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
section ul li div.thumbnail-img::before {
  content: "";
  background-image: url(./img/legos.png);
  position: absolute;
  right: -100px;
  bottom: -140px;
  width: 150px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
section ul li div.thumbnail-img img {
  width: 50vw;
}
section div.mySwiper1 {
  position: absolute;
  overflow: hidden;
  bottom: 0;
}
section div.mySwiper1.swiper {
  width: 100%;
  height: 20%;
}
section div.mySwiper1.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
section div.mySwiper1.swiper .swiper-slide img {
  display: block;
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */