html {
  overflow-x: hidden;
}
html * {
  font-family: "Pretendard-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html li {
  list-style: none;
}
html a {
  text-decoration: none;
  color: inherit;
}
html .flex {
  display: flex;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
header .header-top {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(233, 233, 233);
  padding: 0 80px;
}
header .header-bottom {
  margin: 0 80px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-bottom nav .menu {
  align-items: center;
  font-size: 16px;
}
header .header-bottom nav .menu li {
  margin-left: 10px;
}
header .header-bottom nav .menu li b {
  color: tomato;
  font-weight: 500;
}
header .header-bottom nav .menu li input[type=text] {
  font-size: 12px;
  width: 270px;
  outline: none;
  padding: 7px 10px;
  border-radius: 30px;
  border: 1px solid #ff0000;
  position: relative;
}
header .cartegori {
  height: 45px;
  padding: 0 60px;
  margin: auto;
  width: 1300px;
  display: flex;
  align-items: center;
}
header .cartegori ul {
  font-size: 15px;
  margin: 0 10px;
  border-right: 1px solid #d3d3d3;
}
header .cartegori ul:nth-child(4) {
  border: none;
}
header .cartegori ul li {
  padding-right: 20px;
}

section#sec1 {
  position: relative;
}
section#sec1::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 80px;
  width: 80px;
  height: 80px;
  z-index: 10;
  background-image: url(./img/icon-emblem.png);
  background-position: center;
  background-size: contain;
}
section#sec1 .swiper {
  width: 100%;
  height: 600px;
}
section#sec1 .swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
}
section#sec1 .swiper-slide:nth-child(1) {
  background-image: url(./img/mainRolling_92528_20240329173558.jpg);
}
section#sec1 .swiper-slide:nth-child(2) {
  background-image: url(./img/mainRolling_92552_20240329172633.jpg);
}
section#sec1 .swiper-slide:nth-child(3) {
  background-image: url(./img/mainRolling_92277_20240308165558.jpg);
  color: white;
}
section#sec1 .swiper-slide:nth-child(4) {
  background-image: url(./img/mainRolling_92500_20240327164320.jpg);
}
section#sec1 .swiper-slide:nth-child(5) {
  background-image: url(./img/mainRolling_92534_20240329172753.jpg);
}
section#sec1 .swiper-slide:nth-child(6) {
  background-image: url(./img/mainRolling_92543_20240329171349.jpg);
}
section#sec1 .swiper-slide:nth-child(7) {
  background-image: url(./img/mainRolling_92545_20240401092529.jpg);
}
section#sec1 .swiper-slide:nth-child(8) {
  background-image: url(./img/mainRolling_92550_20240329172618.jpg);
}
section#sec1 .swiper-slide .text {
  position: absolute;
  left: 20%;
  top: 38%;
}
section#sec1 .swiper-slide .text p {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 10px;
}
section#sec1 .swiper-button-next,
section#sec1 .swiper-button-prev {
  color: gainsboro;
}
section#sec2 .article1 {
  height: 400px;
  padding: 60px;
  background-image: url(./img/bg_pattern_slash.png);
  justify-content: center;
}
section#sec2 .article1 div p {
  font-size: 40px;
}
section#sec2 .article1 div span {
  color: red;
  font-size: 28px;
  line-height: 50px;
}
section#sec2 .article1 ul {
  margin-left: 100px;
}
section#sec2 .article1 ul li {
  margin: 0 20px;
}
section#sec2 .article1 ul li img {
  width: 220px;
  height: 220px;
}
section#sec2 .article1 ul li div {
  margin: 15px;
  text-align: center;
}
section#sec2 .article1 ul li div p {
  font-size: 16px;
}
section#sec2 .article1 ul li div span {
  color: black;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}
section#sec2 .article1 ul li div span b {
  color: red;
  padding-right: 10px;
}
section#sec2 .article1 ul li img {
  border-radius: 50%;
}
section#sec2 .article2 {
  padding: 60px;
}
section#sec2 .article2 ul {
  gap: 30px;
  justify-content: center;
}
section#sec2 .article2 ul li h3 {
  line-height: 40px;
  font-size: 18px;
}
section#sec2 .article2 ul li h3 b {
  color: rgb(22, 87, 228);
}
section#sec2 .article2 ul li img {
  width: 360px;
}
section#sec2 .article3 {
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
section#sec2 .article3 .left {
  width: 250px;
}
section#sec2 .article3 .left h3 {
  font-size: 30px;
}
section#sec2 .article3 .left h3 b {
  font-weight: 300;
}
section#sec2 .article3 .left p {
  margin-top: 70px;
  font-size: 15px;
}
section#sec2 .article3 .left .tab-list {
  margin-top: 70px;
}
section#sec2 .article3 .left .tab-list li a {
  font-size: 13px;
  margin: 5px 0;
  display: inline-block;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: rgb(231, 231, 231);
}
section#sec2 .article3 .left .tab-list li a.on {
  background-color: black;
  color: white;
}
section#sec2 .article3 .right {
  width: 900px;
}
section#sec2 .article3 .right div.grid {
  flex-wrap: wrap;
  justify-content: space-between;
}
section#sec2 .article3 .right div.grid div {
  margin-bottom: 30px;
}
section#sec2 .article3 .right div.grid div img {
  width: 260px;
  height: 260px;
}
section#sec2 .article3 .right div.grid div p {
  line-height: 50px;
}
section#sec2 .article3 .right div.grid div span {
  font-size: 13px;
}
section#sec2 .article3 .right div.grid div span b {
  color: #ff0000;
}
section .rook-book {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin-bottom: 150px;
}
section .rook-book ul {
  position: absolute;
}
section .rook-book span {
  position: absolute;
  z-index: 999;
  width: 60px;
  top: 45%;
}
section .rook-book span.next {
  right: 30px;
}
section .rook-book span.prev {
  transform: rotate(180deg);
  left: 30px;
  top: 40%;
}
section .rook-book span img {
  width: 100%;
  height: 100%;
}

footer .footer-menu {
  border-bottom: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
  font-size: 15px;
}
footer .footer-menu ul {
  padding: 10px 0;
  margin: 0 300px;
  width: 830px;
  justify-content: space-between;
}
footer .footer-bottom {
  width: 1300px;
  margin: auto;
  justify-content: space-between;
  padding: 30px 0;
}
footer .footer-bottom .f-text {
  width: 600px;
  margin: 0 20px;
  color: #333333;
  line-height: 22px;
}
footer .footer-bottom .f-text ul {
  margin: 10px 0;
}
footer .footer-bottom .f-text ul li {
  font-size: 14px;
}
footer .footer-bottom .f-text div {
  font-size: 14px;
}
footer .footer-bottom .f-text div p {
  margin: 5px 0;
  font-size: 13px;
}
footer .footer-bottom .f-right {
  padding: 0 30px;
}
footer .footer-bottom .f-right ul li {
  margin-right: 10px;
}
footer .footer-bottom .f-right ul li img {
  width: 40px;
}
footer .footer-bottom .f-right div {
  background-color: #f1f1f1;
  padding: 5px 10px;
  font-size: 13px;
}
footer .footer-bottom .f-right div p {
  padding: 10px;
}
footer .footer-bottom .f-right div .cscenter b {
  color: #a5a5a5;
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */