@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GmarketSansMedium';
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  vertical-align: top;
}
html{
  border: 1px solid #bbbbbb;
  width: 390px;
  height: 844px;
  margin: auto;
  overflow: hidden;
}
.flex{
  display: flex;
}

div.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 844px;
  background-color: rgba(0, 0, 0, 0.179);
}
div.modal.on {
  display: block;
}
div.modal-box {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 580px;
  border-radius: 25px;
  background-color: #ededed;
  padding: 15px;
  text-align: center;
}
div.modal-box span a {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: gray;
  padding: 1px;
  color: white;
  line-height: 25px;
  position: absolute;
  right: 15px;
}