body,
html {
    height: 100%;
}

header {
    background-image: url("../img/cinema/광고배너.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #ffffff;
    margin: 20px;
    margin-top: 0;
    padding: 20px;
    color: white;
}

.cinema {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-left: 410px;
}

.body ul {
    justify-content: center;
}

.top5 {
    margin: 10px 0;
}

.list {
    display: flex;
    font-weight: 500;
    margin-top: 13px;
}

.list li a {
    margin-right: 15px;
    font-size: 18px;
}

.movisname {
    display: flex;
    justify-content: center;
}

.movis {
    width: 204px;
    height: 282px;
    margin: 10px 30px;
}

.content {
    text-align: center;
    margin: 40px 0;
}